@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0292d3;
}

body {
  font-family: Tahoma, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
