.content {
  padding-top: 52px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--primary-color);
}
